<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
        <h1>NoteBook</h1>
    </head>
    <a href="{{ '/' }}">Home</a>
    <body>
        <h2>{{ note.name }}</h2>
        <div>
            <datetime><strong>{{ note.time_created }}</strong></datetime>
            {% if note.time_edited %}
                <edited>(Edited)</edited>
                <hover>
                {{ note.time_edited }}
                </hover>
            {% endif %}
            <br>
            <note>{{ note.content }}</note>
        </div>
        <br>
        <form method="get" class="edit">
            <input type="submit" value="Edit" name="edit">
        </form>
        <form method="get">
            <input type="submit" value="Delete" name="delete"
                   onclick="return confirm('Are you sure you want to delete this note?')">
        </form>
        {% if edit %}
            <div>
                <form method="get">
                    <input type="text" name="new_note_name" class="text" style="margin: 10px;" value="{{ note.name }}"><br>
                    <textarea name="new_note_content">{{ note.content }}</textarea><br>
                    <input type="submit" value="Save edit" name="save_edit">
                </form>
            </div>
        {% endif %}
    </body>
    <script src="{{ url_for('static', filename='js/toggle.js') }}"></script>
</html>