* {font-family: Calibri, serif;}
html {padding: 5px;}
h1 {background-color: lightskyblue; border-style: solid; border-color: black; border-width: thin; padding: 10px;}
h2 {color: royalblue; border-style: solid; border-color: black; border-width: thin; padding: 10px;}
div {font-size: medium; border-style: solid; border-color: black; border-width: thin; padding: 10px;}
a {text-decoration: none; color: dodgerblue}
a:visited {text-decoration: none; color: mediumpurple}
a:hover {text-decoration: none; color: yellowgreen}
note {white-space: preserve-breaks;}
input.text {height: 20px; width: 300px;}
textarea {margin: 10px; resize: both; height: 200px; width: 600px; min-height: 20px; min-width: 300px;}
form.edit {float: left; margin-right: 10px;}